h1 { 
    color: goldenrod;

}
body {
    background-color: blueviolet;
}

#Board {
    display: grid;
    grid-template-columns: 75px 75px 75px;
    background-color: blueviolet;
    width: 0px;
}

.square {
    background-color: goldenrod;
    border: solid black 1px;
    width: 75px;
    height: 75px;
    margin-left: 50px;
    color: goldenrod;
    font-size: 50px;
    text-align: center;
}


